@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

nav {
  position: relative;
  padding-right: 10px;
}
.top-menu {
  text-decoration: none;
  color: #333;
  font-size: 2rem!important;
  font-weight: 700;
  color: #f4511e!important;
  filter: drop-shadow(5px 5px 6px #bbb);
}
nav li {
  height: auto;
	width: 150px;
	text-align: center;
	list-style: none;
  padding: 0;
	margin: 0;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
	border-radius: 3px;
  margin-left: 10px;
  font-size: @font-size;
  font-weight: @font-w2;
}
nav a {
	padding: 13px;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px #fff;
	display: block;
}
.dropdown-menu {
  left: -40%!important;
}
.mydrop {
  width: auto!important;
  font-size: 20px;
  font-weight: 300;
  height: auto;
  margin: 4px 5px;
  left: -40%;
}
.mydrop a {
  font-weight: 300;
}
nav li:hover {
  background-color: @color!important;
}
.dropdown-menu li:hover {
  background-color: @color!important;
}

/* <!-- фон и кнопка --> */
.col-12 {
  height: 900px!important;
  width: 100%;
  background-image: url('../image/404.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.button {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  width: 220px;
  transition: 0.5s;
  vertical-align: middle;
  cursor: pointer;
  margin: 5px;
  top: 60%;
  left: 60%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #fff;
  }

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 20px;
}
.content{
   flex: 1 1 auto;
   min-height: 200px;
   width: 100%;
   padding: 0 15px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 10px;
}

#myFooter .row {
    display: flex;
    justify-content: space-around;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}
#myFooter .logo1 {
  width: 200px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}

#myFooter h5 {
    font-size: 18px;
    color: #fbfbfb;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fbfbfb;
  }

#myFooter a {
    color: #fbfbfb;
    text-decoration: none;
    }

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.social-logo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  }
.social-logo a:hover {
  transform: scale(1.2);
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px gray;
}

@media screen and (min-width: 1024px) and (max-width: 1360px) {
  .col-12 {
      height: 800px!important;
      width: 100%;
    }
}
@media screen and (min-width: 770px ) and (max-width: 1023px) {
  .col-12{
      height: 600px!important;
      width: 100%;
  }
  nav {
      top: 0;
      right: 0;
      position: inherit;
      z-index: 2;
      margin: 0 auto;
  }
  .dropdown-content::before {
    content: none;
  }
  nav li:hover ul {
  	display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 769px) {
  .col-12 {
      height: 400px!important;
      margin-top: 40px!important;
  }
  .dropdown {
    display: none;
  }
  .dropdown-content::before {
    content: none;
  }
  nav li:hover ul {
  	display: none;
  }
 .button {
       display: inline-block;
       font-size: 16px;
       width: 160px;
       transition: 0.5s;
       top: 50%;
       left: 0;
   }
   .col-hide {
     display: none;
   }
   .social-logo {
     width: 100%!important;

   }
   .social-logo img {
     width: 25px;
     height: 25px;
   }
 }
@media screen and (min-width: 320px) and (max-width: 479px) {
  .col-12 {
      height: 300px!important;
      margin-top: 40px!important;
  }
  .dropdown {
    display: none;
  }
  .button {
      display: none;
  }
    .navbar-toggler {
      font-size: 1rem!important;
    }

  .col-hide {
    display: none;
  }
  [class^="col-sm-"] {
    text-align: center;
  }
  .content {
    min-height: auto;
    width: 100%;
    padding: 0;
}
  #myFooter h5 {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      margin: 0;
  }
  #myFooter a:hover,
  #myFooter a:focus {
      text-decoration: none;
      color: red;
      font-weight: normal;
  }
  .social-logo {
    width: 100%!important;

  }
  .social-logo img {
    width: 25px;
    height: 25px;
  }
}
