@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px auto auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.header {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    width: 100%;
}
.main {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
#myFooter {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.header {
  width: 100%;
  padding: 20px 10px;
}
.logo {
    position: absolute;
    top: 30px;
    left: 45px;
}
.logo img {
    display: block;
    width: 200px;
    filter: drop-shadow(5px 5px 6px #fff);
  }

nav {
  top: 30px;
  right: 45px;
  position: absolute;
}
nav li {
  height: auto;
	width: 150px;
	float: left;
	text-align: center;
	list-style: none;
  font-family: 'Pattaya', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
	border-radius: 3px;
  margin-left: 10px;
  font-size: 20px;
}
nav a {
	padding:13px;
	text-decoration: none;
	color:#333;
	text-shadow: 0 1px #fff;
	display: block;
}
nav li ul {
	display: none;
	height: auto;
	margin-left: -11px;
	padding: 0;
}
nav li:hover ul {
	display: block;
  }
nav li:hover {
  background-color: #f4511e;
}
nav li .dropdown-content li {
	background-color: #f4511e;
  border: 1px solid #ccc;
}
.dropdown-content li:hover {
    background-color: #f4511e;
}
.dropdown-content::before {
  content: '\00bb';
  position: absolute;
  transform: rotate(90deg);
  opacity: 1;
  margin: 10px 50px;
}
.item-1 h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #f4511ebd;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
  text-shadow:1px 1px 12px rgba(255,255,255,0.61);
}
.item-1 .h-back {
  font-size: 5rem;
  text-transform: none;
  opacity: 0.3;
  text-shadow: none;
  position: absolute;
  left: 60%;
  top: 13%;
  z-index: 10;
}

#g {
	background: #f2f2f2;
	padding-top: 50px;
	padding-bottom: 50px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sponsor img {
	max-width: 120px;
	max-height: 120px;
	vertical-align: middle;
}
.sponsor .sm-2 {
	height: 80px;
	line-height: 80px;
  filter: drop-shadow(5px 5px 6px gold);
  animation: sm-2 3s infinite alternate;
}

@keyframes sm-2 {
  0% {
   filter: drop-shadow(5px 5px 6px red);
    }
  50% {
   filter: drop-shadow(5px 5px 6px blue);
    }
    100% {
     filter: drop-shadow(5px 5px 6px green);
      }
}

#myFooter {
    color: white;
    padding-top: 20px;
}
.content{
   flex: 1 1 auto;
   min-height: 200px;
   width: 100%;
   padding: 0 15px;
}
#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#myFooter .row {
    display: flex;
    justify-content: space-around;
}
#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}
#myFooter .logo1 {
  width: 200px;
}
#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}
#myFooter h5 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}
#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: black;
}
#myFooter a {
    color: black;
    text-decoration: none;
    }
#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.social-logo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  }
.social-logo img {
  width: 40px;
}
.social-logo a:hover {
  transform: scale(1.5);
}
#map-container {
    height: 240px;
      width: 100%;
      margin-top: 30px;
}

#about {
  height: 800px;
  overflow: hidden;
}
.about-top {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    padding-left: 100px;
  }
.a-left {
    display: block;
    position: relative;
    width: 30%;
    float: left;
}

.a-left img {
  width: 500px;
  transform: rotateY(190deg);
}
.ribbon {
   width: 1310px;
    height: 315px;
    line-height: 30px;
    position: absolute;
    top: 241px;
    left: -279px;
    transform: rotate(309deg);
    background: #fb6f0ccf;
    opacity: 0.2;
}
.about-top ul {
   list-style-type: none;
   list-style-position: inside;
   padding: 0 50px;
 }
.about-top ul li {
   padding-left: 50px;
   background-image: url('../image/barbell.svg');
   background-position: 4px 6px;
   background-size: 20px;
   background-repeat: no-repeat;
   line-height: 2;
 }

.about-list {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
.about-list .review {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.review img {
  width: 75px;
}

.callback {
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  overflow: hidden;
}
.callback::before {
  content: "";
  background-image: url('../image/club12.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.mt, .md {
  width: 50%;
  position: relative;
}
.mt h3 {
  -webkit-text-stroke: 1px #fff;
  font-size: 3rem;
}
.img-responsive {
    width: 100%;
}
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}
  .btn-yel {
  	background: #fb6f0ccf;
  	color: white;
  }
  .subscribe-input {
    width: 65%;
    text-align: left;
    margin-right: 2px;
}
input {
    font-size: 16px;
    min-height: 40px;
    border-radius: 25px;
    line-height: 20px;
    padding: 15px 30px 16px;
    border: 1px solid #b9b9af;
    margin-bottom: 10px;
    background-color: #fff;
    opacity: 0.9;
    transition: background-color 0.2s;
}
@media screen and (min-width: 1024px) and (max-width: 1424px) {
    #about {
      height: 640px;
    }
    .a-left img {
      width: 400px;
    }
    .about-top ul {
      font-size: 14px;
      padding: 0 40px;
      margin: 0 auto;
   }
     .about-top ul li {
      padding-left: 40px;
    }
    .review h3 {
      font-size: 14px;
      margin: 0;
    }
    .review img {
        width: 50px;
    }
    .review p {
        font-size: 12px;
    }
    .about-list {
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    nav li:hover ul {
      display: none;
    }
    .dropdown-content::before {
      content: none;
    }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
    .logo {
      display: none;
    }
    .dropdown-content::before {
      content: none;
    }
    nav {
        top: 0;
        right: 0;
        position: inherit;
        z-index: 2;
        margin: 0 auto;
    }
    nav li:hover ul {
      display: none;
    }
    .a-left {
      display: none;
    }
    .about-top {
        padding: 0 20px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100px auto auto;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }
    .item-1 .h-back {
        left: 37%;
        top: 3%;
        z-index: 10;
    }
    .about-list {
      padding-top: 0;
      justify-content: space-evenly;
    }
    .review h3 {
      font-size: 16px;
      margin: 0;
    }
    .review img {
      width: 75px;
    }
    .review p {
      font-size: 14px;
    }
    .callback {
        padding: 10px 10px;
    }
    .mt h3 {
        -webkit-text-stroke: 0;
        font-size: 24px;
    }
    #myFooter h5 {
        font-size: 18px;
        color: black;
        font-weight: bold;
        margin-top: 0;
    }
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: red;
        font-weight: normal;
    }
    .social-logo {
      width: 90%;
    }
}
@media screen and (min-width: 320px) and (max-width: 770px) {
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px auto auto;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
      .logo {
        display: none;
      }
      .dropdown-content::before {
        content: none;
      }
      nav {
          top: 0;
          right: 0;
          position: inherit;
          z-index: 2;
          margin: 0 auto;
      }
      nav li:hover ul {
        display: none;
      }
      .bg {
          height: 400px;
          width: 100%;
      }
      nav ul {
         padding: 0;
         margin: 0 auto;
      }
      nav li {
        text-align: center;
        margin: 0 auto;
        height: auto;
        width: 70px;
        padding: 0;
        border-radius: 3px;
        font-size: 12px;
      }
      .a-left {
        display: none;
      }
      div.col-sm-3 {
        display: none;
      }
      [class^="col-sm-"] {
        text-align: center;
      }
      #myFooter h5 {
          font-size: 14px;
          color: black;
          font-weight: bold;
          margin-top: 0;
      }
      #myFooter a:hover,
      #myFooter a:focus {
          text-decoration: none;
          color: red;
          font-weight: normal;
      }
      #myFooter ul {
        font-size: 14px;
      }
      .content {
        flex: 1 1 auto;
        min-height: 100px;
        width: 100%;
        padding: 0 15px;
     }
      .social-logo {
        width: 90%;
      }
      .about-top {
          padding: 0 4px;
      }
      h2.h-back {
        display: none;
      }
      .item-1 h2 {margin: 0;}

      .about-top ul {
        padding: 0 20px;
        font-size: 14px;
      }
      .about-top ul li {
        padding-left: 30px;
        background-image: url(../image/barbell.svg);
        background-position: 2px 3px;
        background-size: 18px;
        background-repeat: no-repeat;
        line-height: 1.5;
      }
      .review h3 {
        font-size: 16px;
        margin: 0;
      }
      .review img {
        width: 50px;
      }
      .review p {
        font-size: 14px;
      }
      #about {
        height: auto;
        overflow: inherit;
    }
      .about-list {
        padding: 10px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .about-list .review {
        width: 100%;
    }
      .callback {
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    .mt, .md {
        width: 100%;
    }
    .mt h3 {
        -webkit-text-stroke: 0;
        font-size: 20px;
    }
    .mtb {
      padding: 15px 10px;
    }
    #g {
      display: none;
    }
}
