@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

nav {
  position: relative;
  padding-right: 10px;
}
nav {
  position: relative;
  padding-right: 10px;
}
.top-menu {
  text-decoration: none;
  color: #333;
  font-size: 2rem!important;
  font-weight: 700;
  color: #f4511e!important;
  filter: drop-shadow(5px 5px 6px #bbbbbb);
}
nav li {
  height: auto;
  width: 150px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #eee;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}
.dropdown-menu {
  left: -40% !important;
}
.mydrop {
  width: auto!important;
  font-size: 18px;
  font-weight: 500;
  height: auto;
  margin: 4px 5px;
  left: -40%;
  cursor: pointer;
}
nav li:hover, nav a:hover {
  background-color: #f4511e !important;
}
.dropdown-content li:hover {
    background-color: #f4511e;
}
.dropdown-content::before {
  content: '\00bb';
  position: absolute;
  transform: rotate(90deg);
  opacity: 1;
  margin: 10px 50px;
}

#g {
  background: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sponsor img {
  max-width: 120px;
  max-height: 120px;
}
.sponsor .sm-2 {
  display: inline-flex;
  align-items: center;

  line-height: 1;
  filter: drop-shadow(5px 5px 6px #ffd700);
  animation: anime1 3s infinite alternate;
}
@keyframes anime1 {
  0% {
    filter: drop-shadow(5px 5px 6px #ff0000);
  }
  50% {
    filter: drop-shadow(5px 5px 6px #0000ff);
  }
  100% {
    filter: drop-shadow(5px 5px 6px #008000);
  }
}

#map-container {
  height: 240px;
  width: 100%;
}
#myFooter {
  background-color: #fff;
}
.content {
  flex: 1 1 auto;
  min-height: 200px;
  width: 100%;
  padding: 0 15px;
}
#myFooter .footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 10px;
}
#myFooter .row {
  display: flex;
  justify-content: space-around;
}
#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}
#myFooter .logo1 {
  width: 200px;
}
#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2;
}
#myFooter h5 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}
#myFooter h2 a {
  font-size: 50px;
  text-align: center;
  color: black;
}
#myFooter a {
  color: black;
  text-decoration: none;
}
#myFooter a:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
#myFooter a:focus {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
.social-logo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.social-logo a:hover {
  transform: scale(1.2);
}

.callback {
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  overflow: hidden;
}
.callback::before {
  content: "";
  background-image: url('../image/club12.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.mt, .md {
  width: 50%;
  position: relative;
}
.mt h3 {
  -webkit-text-stroke: 1px #fff;
  font-size: 3rem;
}
.img-responsive {
    width: 100%;
}
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}
.btn-yel {
  	background: #fb6f0ccf;
  	color: white;
  }
.subscribe-input {
    width: 65%;
    text-align: left;
    margin-right: 2px;
}
input {
    font-size: 16px;
    min-height: 40px;
    border-radius: 25px;
    line-height: 20px;
    padding: 15px 30px 16px;
    border: 1px solid #b9b9af;
    margin-bottom: 10px;
    background-color: #fff;
    opacity: 0.9;
    transition: background-color 0.2s;
}

#main {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: auto auto;
 grid-column-gap: 2px;
 grid-row-gap: 2px;
 overflow: hidden;
 margin-top: 100px;
 padding-bottom: 50px;
}
.ps-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  padding: 50px 0;
}
#teams {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 50px;
  margin-left: 40px;
  width: 100%;
}
.a-left {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  margin-right: 20px;
}
.ps-1 h2 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #f4511ebd;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
  text-shadow:1px 1px 12px rgba(255,255,255,0.61);
}
.ps-1 .ps-back {
  font-size: 5rem;
  text-transform: none;
  opacity: 0.3;
  text-shadow: none;
  position: absolute;
  left: calc(50% - 110px);
  top: 0%;
  z-index: 10;
}

section {
  margin: 0 auto;
  }
.team {
    display: inline-block;
    width: 22%;
    margin-right: 1%;
    background-color: #fff;
    color: #000;
    vertical-align: top;
    border-radius: 15px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}
.team img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.team h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.dolar {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
.team p:first-of-type {
  font-style: normal;
  font-size: 20px;
  color: #b6b6b6;
  font-weight: bold;
  opacity: .6;
}

.team p {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}
.team button {
  width: 120px;
  height: 40px;
  border: 0px;
  border-radius: 10%;
  background-color: #df4637;
  box-shadow: 0 0 hsl(5, 60%, 60%);
}
.team a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.team:nth-of-type(2) button {
background-color: #e7d95d;
}
.team:nth-of-type(3) button {
  background-color: #3453f6;
}
.team:nth-of-type(4) button {
  background-color: #2ad14a;
}
.team:hover {
  z-index: 1;
  transform: scale(1.2);
}

.ribbon {
   width: 2000px;
   height: 300px;
   line-height: 30px;
   position: absolute;
   top: 0%;
   right: -284%%;
   transform: rotate(309deg);
   background: #fb6f0ccf;
   opacity: 0.2;
   z-index: -1;
}



@media screen and (min-width: 1024px) and (max-width: 1284px) {
   .a-left {
     display: none;
   }
     #teams {
       display: flex;
       grid-column-start: 1;
       grid-column-end: 6;
       grid-row-start: 2;
       grid-row-end: 3;
       margin: 0 auto;
       width: 100%;
       justify-content: space-around;
       padding-bottom: 80px;
    }
    .ps-1 .ps-back {
        left: calc(50% - 110px);
        top: 0%;
        z-index: 10;
    }
    .team {
        width: 22%;
        height: auto;
        margin-right: 1%;
    }
    .team button {
      width: 120px;
    }
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: red;
        font-weight: normal;
    }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
    .logo {
      display: none;
    }
    .dropdown-content::before {
      content: none;
    }
    nav li {
      height: auto;
      width: 100%;
      margin-left: 4px;
      font-size: 15px;
    }
    nav {
      margin: 0 auto;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      top: 0;
      right: 0;
    }
    nav ul {
      padding: 0;
      margin: 0 auto;
    }
      nav li:hover ul {
        display: none;
      }
    .a-left {
      display: none;
    }

    #main {
      margin-top: 100px;
    }
    .item-1 .h-back {
        left: 37%;
        top: 3%;
        z-index: 10;
    }
    .ps-1 .ps-back {
        font-size: 5rem;
        text-transform: none;
        opacity: 0.3;
        text-shadow: none;
        position: absolute;
        left: calc(50% - 110px);
        top: 0%;
        z-index: 10;
    }
    #teams {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0;
        margin-left:0;
        width: 100%;
        padding-bottom: 50px;
    }
    .team img {
        width: 100%;
        height: 150px;
    }
    .dolar {
        font-size: 40px;
    }
    .team {
        height: auto;
        display: inline-block;
        width: 22%;
        margin-right: 0;
        background-color: #fff;
        color: #000;
        vertical-align: top;
        border-radius: 15px;
        box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
        position: relative;
        text-align: center;
    }
    .callback {
        padding: 10px 10px;
    }
    .team h3 {
        text-transform: uppercase;
        padding-bottom: -;
    }
    .team p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        padding: 0;
        margin-bottom: 10px;
    }
    .mt h3 {
        -webkit-text-stroke: 0;
        font-size: 24px;
    }
    #myFooter h5 {
        font-size: 18px;
        color: black;
        font-weight: bold;
        margin-top: 0;
    }
    #myFooter a:hover,
    #myFooter a:focus {
        text-decoration: none;
        color: red;
        font-weight: normal;
    }
    .social-logo {
      width: 90%;
    }
}
@media screen and (min-width: 480px) and (max-width: 770px) {
      .dropdown-content::before {
        content: none;
      }
      .dropdown {
        display: none;
      }
      nav {
          top: 0;
          right: 0;
          position: inherit;
          z-index: 2;
          margin: 0 auto;
      }
      nav li:hover ul {
        display: none;
      }
      .bg {
          height: 400px;
          width: 100%;
      }
      nav ul {
         padding: 0;
         margin: 0 auto;
      }
      nav li {
        height: auto;
        width: 100%;
      }
      .a-left {
        display: none;
      }
      div.col-sm-3 {
        display: none;
      }
      [class^="col-sm-"] {
        text-align: center;
      }
      #myFooter h5 {
          font-size: 18px;
          color: black;
          font-weight: bold;
          margin-top: 0;
      }
      #myFooter a:hover,
      #myFooter a:focus {
          text-decoration: none;
          color: red;
          font-weight: normal;
      }
      #myFooter ul {
        font-size: 14px;
      }
      .content {
        min-height: auto;
        width: 100%;
        padding-top: 20px;
      }
      .social-logo {
        width: 90%;
      }
      .social-logo img {
        width: 25px;
        height: 25px;
      }
      .about-top {
          padding: 0 4px;
      }
      h2.h-back {
        display: none;
      }
      .item-1 h2 {margin: 0;}

      .callback {
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    .mt, .md {
        width: 100%;
    }
    .mt h3 {
        -webkit-text-stroke: 0;
        font-size: 20px;
    }
    .mtb {
      padding: 15px 10px;
    }
    #g {
      display: none;
    }
    .ps-1 .ps-back {
      display: none;
    }
    #teams {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
      }
    .team {
      display: inline-block;
      width: 80%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .team h3 {
        text-transform: uppercase;
        padding-bottom: 0;
        font-size: 30px;
        margin: 10px auto;
    }
    .team:hover {
      z-index: 0;
      transform: scale(1);
    }
    .team img {
      width: 100%;
      height: auto;
    }
      .team button {
        width: 180px;
    }
    .colhide {
      display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {

  .dropdown-content::before {
    content: none;
  }
  nav {
      top: 0;
      right: 0;
      position: inherit;
      z-index: 2;
      margin: 0 auto;
  }
  nav li:hover ul {
    display: none;
  }
  .bg {
      height: 400px;
      width: 100%;
  }
  nav ul {
     padding: 0;
     margin: 0 auto;
  }
  nav li {
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: 70px;
    padding: 0;
    border-radius: 3px;
    font-size: 12px;
  }
  .a-left {
    display: none;
  }
  div.col-sm-3 {
    display: none;
  }
  [class^="col-sm-"] {
    text-align: center;
  }
  #myFooter h5 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-top: 0;
  }
  #myFooter a:hover {
    text-decoration: none;
    color: red;
    font-weight: normal;
  }
  #myFooter a:hover a:focus {
    text-decoration: none;
    color: red;
    font-weight: normal;
  }
  .colhide {
    display: none;
  }
  .content {
    min-height: auto;
    width: 100%;
    padding-top: 20px;
  }
  .social-logo {
    width: 90%;
  }
  .social-logo img {
    width: 25px;
    height: 25px;
  }
  .about-top {
      padding: 0 4px;
  }
  h2.h-back {
    display: none;
  }
  .item-1 h2 {margin: 0;}

    .callback {
      display: flex;
      position: relative;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
    }
    .mt, .md {
      width: 100%;
    }
    .mt h3 {
      -webkit-text-stroke: 0;
      font-size: 20px;
    }
    .mtb {
    padding: 15px 10px;
    }
    #g {
    display: none;
    }
    .ps-1 .ps-back {
    display: none;
    }
    #main {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto;
      grid-column-gap: 2px;
      grid-row-gap: 2px;
      overflow: hidden;
  }
    #teams {
      display: flex;
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-bottom: 20px;
      margin-left: 0;
      width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
    .team {
    display: inline-block;
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
    }
    .team h3 {
      text-transform: uppercase;
      padding-bottom: 0;
      font-size: 30px;
      margin: 10px auto;
    }
      .team:hover {
      z-index: 0;
      transform: scale(1);
      }
      .team img {
      width: 100%;
      height: auto;
      }
      .team button {
        width: 110px;
      }
      .team p:first-of-type {
        margin: 14px 0;
      }
      .content {
        flex: 1 1 auto;
        min-height: 100px;
        width: 100%;
        padding: 0 15px;
    }
}
