@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  font-weight: 300;
}
.arrow-down {
  transform: rotate(270deg);
  position: absolute;
  top: 90%;
  left: 48%;
  background: none;
  border: none;
}
.arrow-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #ff3140;
  border-left: 3px solid #ff3140;
  margin: -2px;
  animation: arrow-left 1s infinite;
  float: left;
}
.arrow-left span:nth-child(2) {
  animation-delay: -0.1s;
}
.arrow-left span:nth-child(3) {
  animation-delay: -0.2s;
}
@keyframes arrow-left {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
}
.container-fluid {
  width: 100% !important;
  padding: 0!important;
}
nav {
  position: relative;
  padding-right: 10px;
}
.top-menu {
  text-decoration: none;
  color: #333;
  font-size: 2rem!important;
  font-weight: 700;
  color: #f4511e!important;
  filter: drop-shadow(5px 5px 6px #bbbbbb);
}
nav li {
  height: auto;
  width: 150px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #eee;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}
.dropdown-menu {
  left: -40% !important;
}
.mydrop {
  width: auto!important;
  font-size: 18px;
  font-weight: 500;
  height: auto;
  margin: 4px 5px;
  left: -40%;
  cursor: pointer;
}
nav li:hover {
  background-color: #f4511e !important;
}

.sign {
  background: url('../image/unsplash2.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
}
.sign_word {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 50%;
  font-size: 7rem;
}
.sign_word h3 {
  font-family: 'Roboto';
  font-weight: 900 !important;
  font-size: 5rem!important;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #ff0000;
  animation: neon 0.08s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
#classes,
#trainers {
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 50px;
}
.item-2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
}
.item-1,
.tr-1,
.gal-1 {
  display: inline-block;
  position: relative;
  padding: 50px 0;
}
.item-1 h2,
.gal-1 h2 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #f4511e;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
  text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.61);
  z-index: 1;
}
.item-1 .h-back {
  font-size: 5rem;
  text-transform: none;
  opacity: 0.4;
  text-shadow: none;
  position: absolute;
  top: 5px;
  left: calc(50% - 150px);
}
.team {
  display: flex;
  width: 22%;
  margin-right: 1%;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  vertical-align: top;
  border-radius: 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  position: relative;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
}
.img-circle {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.img-circle img {
  width: 70%;
  position: relative;
  z-index: 11;
}
.img-circle .circle-back {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(#ff0000, #ffd400);
  box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  top: 20%;
  left: 20%;
}
.team h3 {
  display: inline-block;
  width: auto;
  margin: 15px auto;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 500;
}
.team h3::before {
  content: "";
  position: absolute;
  top: 4%;
  left: 18px;
  width: 30px;
  height: 20px;
  border-top: 2px solid #002bff;
  border-left: 2px solid #002bff;
}
.team h3:after {
  content: "";
  position: absolute;
  bottom: 87%;
  right: 12px;
  width: 30px;
  height: 20px;
  border-bottom: 2px solid #19ff00;
  border-right: 2px solid #19ff00;
}
.team p {
  font-size: 17px;
  color: black;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}
.checkit {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  color: #fe6637;
  transition: 0.2s ease-in-out;
}
.checkit:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.checkit:hover {
  background: #fe6637;
  color: #fff;
}
.checkit:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}
#trainers::before {
  content: "";
  background-image: url('../image/DSC04939.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.2;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.tr-2 {
  display: inline-flex;
}
.tr-1 h2 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #f4511e;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
  text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.61);
  z-index: 1;
}
.tr-1 .tr-back {
  font-size: 5rem;
  text-transform: none;
  opacity: 0.4;
  text-shadow: none;
  position: absolute;
  left: calc(50% - 260px);
  top: 0;
}
.card {
  width: 300px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #f5dde1;
  display: block;
}
.product,
.description {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  backface-visibility: hidden;
  background-color: #fff;
  transition: 1s;
}
.description h3 {
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: 30px;
}
.description a {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #f5dde1;
}
.description {
  box-sizing: border-box;
  padding: 20px;
  transform: rotateY(180deg);
}
.card:hover .product {
  transform: rotateY(180deg);
}
.card:hover .description {
  transform: rotateY(360deg);
}
.product img {
  width: 100%;
  height: auto;
}
.product p {
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
#partner {
  display: block;
  height: 900px;
  position: relative;
  background: linear-gradient(to bottom left, #ff0000 50%, #ffffff 50%);
}
.pr-1 {
  display: block;
  position: relative;
  top: 10%;
  margin-bottom: 100px;
}
.pr-1 h2 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  color: #feffe8;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
  text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.61);
  z-index: 11;
}
.pr-1 .pr-back {
  font-size: 5rem;
  text-transform: none;
  opacity: 0.4;
  text-shadow: none;
  position: relative;
  margin-top: -122px;
}
.push {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 31%;
  left: calc(50% - 150px);;
}
a.button14 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #fe6637;
  border-radius: 8px;
  color: #fe6637;
  transition: 0.2s ease-in-out;
  text-shadow: 1px 1px #fff;
  margin: 10px;
  outline: none;
  background: #f4511e no-repeat;
  background-image: linear-gradient(to left, #ffffff, #ffffff), linear-gradient(to left, #feffe8, #feffe8), linear-gradient(#fbfbfb, #fbfbfb);
  background-position: calc(0%) 0, calc(0%) 0, 0 0;
  background-size: 1px 100%, 1px 100%, auto auto;
  overflow: hidden;
}
a.button13 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #fe6637;
  border-radius: 8px;
  color: #fe6637;
  transition: 0.2s ease-in-out;
  text-shadow: 1px 1px #fff;
  margin: 10px;
  outline: none;
  background: #fe6637 no-repeat;
  background-image: linear-gradient(to left, #aaaaaa, #aaaaaa), linear-gradient(to left, #feffe8, #feffe8), linear-gradient(#fbfbfb, #fbfbfb);
  background-position: calc(0%) 0, calc(0%) 0, 0 0;
  background-size: 1px 100%, 1px 100%, auto auto;
  overflow: hidden;
}
a.button14::before {
  content: "\2190";
  position: relative;
  bottom: 1px;
  left: -18%;
  display: inline-block;
  margin-left: 1.4em;
  vertical-align: middle;
  font-weight: 700;
  font-size: 140%;
}
a.button13::after {
  content: "\2192";
  position: relative;
  bottom: 1px;
  right: -3%;
  display: inline-block;
  margin-left: 1.4em;
  vertical-align: middle;
  font-weight: 700;
  font-size: 140%;
}
a.button14:hover,
a.button13:hover {
  background-color: #fdfd9f!important;
  background-image: linear-gradient(to left, #aaaaaa, #aaaaaa), linear-gradient(to left, #feffe8, #feffe8), linear-gradient(#ff0000 8c, #fdfd9f);
}
a.button14:active::before,
a.button13:active:after {
  bottom: -1.2em;
  transition: .3s;
}
[class^="partner-"] {
  display: flex;
  position: relative;
  width: 300px;
  height: 560px;
  z-index: 4;
  margin: 0;
}
.partner-1 {
  top: -2%;
  left: calc(10% + 80px);
  outline: 4px solid #ff0000;
}
.partner-2 {
  top: -74%;
  left: calc(60% + 100px);
  outline: 4px solid #ff0000;
}
[class^="partner-"] img {
  width: auto;
  height: 600px;
  z-index: 3;
}
#g {
  background: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sponsor img {
  max-width: 120px;
  max-height: 120px;
  vertical-align: middle;
}
.sponsor .sm-2 {
  height: 80px;
  line-height: 80px;
  filter: drop-shadow(5px 5px 6px #ffd700);
  animation: anime1 3s infinite alternate;
}
@keyframes anime1 {
  0% {
    filter: drop-shadow(5px 5px 6px #ff0000);
  }
  50% {
    filter: drop-shadow(5px 5px 6px #0000ff);
  }
  100% {
    filter: drop-shadow(5px 5px 6px #008000);
  }
}
.gal-1 .h-back {
  font-size: 5rem;
  text-transform: none;
  opacity: 0.4;
  text-shadow: none;
  position: absolute;
  top: 5px;
  left: calc(50% - 180px);;
}
.gallery {
  background: linear-gradient(to top left, #ff0000 50%, #ffffff 50%);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#map-container {
  height: 240px;
  width: 100%;
}
#myFooter {
  background-color: #fff;
}
.content {
  flex: 1 1 auto;
  min-height: 200px;
  width: 100%;
  padding: 0 15px;
}
#myFooter .footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 10px;
}
#myFooter .row {
  display: flex;
  justify-content: space-around;
}
#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}
#myFooter .logo1 {
  width: 200px;
}
#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2;
}
#myFooter h5 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}
#myFooter h2 a {
  font-size: 50px;
  text-align: center;
  color: black;
}
#myFooter a {
  color: black;
  text-decoration: none;
}
#myFooter a:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
#myFooter a:focus {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
.social-logo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.social-logo a:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 1300px) {
  .group-bt {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: 31%;
    left: 36%;
  }

  .img-circle .circle-back {
    top: 17%;
    left: 20%;
  }
  .item-1 .h-back {
    font-size: 5rem;
    text-transform: none;
    opacity: 0.4;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
  }
}
@media screen and (min-width: 1123px) and (max-width: 1299px) {
  .img-circle .circle-back {
    top: 14%;
    left: 12%;
    width: 180px;
    height: 180px;
  }
  .team p {
    font-size: 15px;
  }
  .partner-1 {
    top: -4%;
    left: calc(0% + 80px);
  }
  .partner-2 {
    top: -74%;
    left: 64%;
  }
  .group-bt {
    top: 30%;
    right: calc(0% + 80px);
  }
}
@media screen and (min-width: 960px) and (max-width: 1124px) {
  .sign_word {
    font-size: 6rem;
  }
  .item-2,
  .tr-2 {
    display: flex;
    justify-content: space-around;
  }
  .img-circle .circle-back {
    width: 180px;
    height: 180px;
    z-index: 0;
    opacity: 0.2;
    top: 18%;
    left: 8%;
  }
  .team {
    display: flex;
    width: 22%;
    position: relative;
    margin-right: 1%;
    vertical-align: top;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .team h3::before {
    content: "";
    position: absolute;
    top: 3%;
  }
  .team p {
    font-size: 13px;
    text-align: center;
  }
  .team img {
    width: 70%;
    z-index: 1;
    margin: 10px 0;
  }
  .circle-back {
    width: 150px;
    height: 150px;
    top: 20%;
    left: 12%;
  }
  .group-bt {
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: 34%;
    left: 35%;
    align-items: stretch;
    justify-content: center;
    align-content: center;
  }
  a.button13 {
    width: 240px;
    padding: 10px 10px;
    margin: 10px 0;
    background-position: 0;
    background-size: 1px 100%, 1px 100%, auto auto;
  }
  a.button13::after {
    content: "\2192";
    position: relative;
    bottom: 0;
    right: -3%;
    display: inline-block;
    margin-left: 1.4em;
    vertical-align: middle;
    font-weight: 400;
    font-size: 100%;
  }
  a.button14 {
    width: 240px;
    padding: 10px 10px;
    background-position: 0;
    background-size: 1px 100%, 1px 100%, auto auto;
    margin: 10px 0;
  }
  a.button14::before {
    content: "\2190";
    position: relative;
    bottom: 0;
    left: -10%;
    display: inline-block;
    margin-left: 1.4em;
    vertical-align: middle;
    font-weight: 300;
    font-size: 100%;
  }
  [class^="partner-"] {
    display: flex;
    position: relative;
    width: 250px;
    height: 460px;
    z-index: 4;
    margin: 0;
  }
  [class^="partner-"] img {
    width: auto;
    height: 490px;
    z-index: 3;
  }
  .partner-2 {
    top: -60%;
    left: 63%;
  }
  .partner-1 {
    top: 2%;
    left: 5%;
  }
  .g-item {
    height: 300px;
    width: 300px;
  }
  .g-item:hover {
    filter: saturate(100%);
    filter: brightness(100%);
    transform: scale(1.5);
  }
}
@media screen and (min-width: 690px) and (max-width: 959px) {
  .sign_word {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 4rem!important;
  }
    .img-circle .circle-back {
        width: 240px;
        height: 240px;
        top: -1%;
        left: calc(66% - 170px);
    }
    .img-circle {
      position: relative;
    }
    .item-2 {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .team {
      margin: 10px 0;
      display: flex;
      width: 45%;
      position: relative;
    }
    .team p {
      margin-top: 50px;
    }

    .arrow-down {
        top: 92%;
        left: 48%;
    }
    #partner {
      display: none;
    }
    .tr-2 {
      display: inline-flex;
      flex-direction: column;
  }
  .card {
    margin-bottom: 20px;
  }
  .gallery {
    background: 0;
    padding-top: 0;
    padding-bottom: 20px!important;
    display: flex;
    flex-direction: column;
}
}
@media screen and (min-width: 480px) and (max-width: 689px) {
  .item-1 .h-back {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .sign {
    height: 900px;
  }
  .sign_word {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 4rem;
  }
  nav li {
    height: auto;
    width: 100%;
  }
  .img-circle .circle-back {
    width: 300px;
    height: 300px;
    top: calc(40% - 150px);
    left: calc(50% - 150px);
  }
  .team p {
    padding-top: 25px;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #classes,
  #trainers {
    width: 100%;
    display: flex;
    padding: 0;
    margin-top: 20px!important;
  }
  .item-1, .tr-1, .gal-1 {
    padding: 0;
  }
  .tr-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
}
  .gal-1 .h-back {
    display: none;
  }
  .gallery {
    background: 0;
    padding-top: 0;
  }
  .item-1 .h-back {
    font-size: 5rem;
    text-transform: none;
    opacity: 0.4;
    text-shadow: none;
    position: relative;
    margin-left: -9px;
    margin-top: -160px;
  }
  .item-2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .team {
    margin: 10px 0;
    display: flex;
    width: 80%;
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    vertical-align: top;
    border-radius: 15px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    position: relative;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .tr-1 .tr-back {
    display: none;
  }
  .card {
    margin-bottom: 10px;
  }
  #partner {
    display: none;
  }
  .g-list {
    list-style: none;
    border: 5px solid #fff;
    background-color: #181818;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    overflow-x: scroll;
  }
  .g-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.12);
    height: 400px;
    width: 380px;
    flex-shrink: 0;
    padding: 0 5px;
    filter: brightness(100%);
  }
  .g-item:hover {
    filter: saturate(100%);
    transform: scale(1);
    z-index: 10;
  }
  #g {
    display: none;
  }
  #myFooter > div.content > div > div.col-sm-3 {
    display: none;
  }
  .social-logo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 280px) and (max-width: 479px) {
  .container {
    display: block;
  }
  #g {
    display: none;
  }
  #carouselExampleControls {
    background: none;
    padding-bottom: 25px;
  }
  #navbarNavDropdown {
    padding: 10px 5px;
  }
  button.navbar-toggler {
    margin: 0 auto!important;
  }
  .top-menu {
    width: 100% !important;
  }
  header {
    height: 600px;
  }
  li.dropdown-content {
    display: none;
  }
  .dropdown {
    display: none;
  }
  nav li {
    height: auto;
    width: 100%;
    margin-left: 4px;
    font-size: 15px;
  }
  nav {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
  }
  nav ul {
    padding: 0;
    margin: 0 auto;
  }

  .sign_word {
      left: 0;
      top: 70%;
    }
    .arrow-down {
      top: 90%;
      left: 45%;
    }
  .sign_word h3 {
    font-weight: 500!important;
    font-size: 40px!important;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 5px;
  }
  #classes,
  #trainers {
    width: 90%;
    display: flex;
    padding: 10px 0px;
    margin: 0 auto;
  }
  h2.h-back,
  h2.tr-back {
    display: none;
  }
  .item-2,
  .tr-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .item-1 h2, .gal-1 h2, .tr-1 h2 {
    font-size: 40px;
  }
  .item-1, .tr-1, .gal-1 {
      display: inline-block;
      position: relative;
      padding: 25px 0;
  }
  .team {
    margin: 10px 0;
    display: flex;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    vertical-align: top;
    border-radius: 15px;
    position: relative;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .img-circle {
    position: relative;
  }
  .img-circle .circle-back {
    width: 190px!important;
    height: 190px!important;
    border-radius: 50%;
    background-image: linear-gradient(#ff0000, #ffd400);
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.12);
    position: absolute;
    opacity: 0.2;
    top: calc(40% - 60px)!important;
    left: calc(40% - 60px)!important;
  }
  #trainers::before {
    content: none;
  }
  .item-2, .tr-2 {
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
  }
  #partner  {
    display: none;
  }
  .gallery {
    background: 0;
  }
  div.w-75 {
    width: 90%!important;
  }
  .card {
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #f5dde1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .product,
  .description {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    backface-visibility: none;
    background-color: #fff;
    transition: none;
  }
  .description {
    padding: 0;
    transform: rotateY(0);
    font-size: 14px;
    padding: 5px 5px;
  }
  .description h3 {
    display: none;
  }
  .card:hover .product {
    transform: rotateY(0);
  }
  .card:hover .description {
    transform: rotateY(0);
  }
  .carousel-inner {
    width: 100%!important;
  }
  .centered {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .sponsor .sm-2 {
    height: auto;
  }
  .sponsor img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
  }
  .colhide {
    display: none;
  }
  [class^="col-sm-"] {
    text-align: center;
  }
  #myFooter h5 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-top: 0;
  }
  #myFooter a:hover {
    text-decoration: none;
    color: red;
    font-weight: normal;
  }
  #myFooter a:hover a:focus {
    text-decoration: none;
    color: red;
    font-weight: normal;
  }
  .content {
    min-height: auto;
    width: 100%;
    padding-top: 20px;
  }
  .social-logo {
    width: 90%;
  }
  .social-logo img {
    width: 25px;
    height: 25px;
  }
}
